// Slendr - Basic styles

.slendr {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #777;

  .slendr-slides {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  .slendr-animate {
    -webkit-transition: -webkit-transform .9s cubic-bezier(.4,0,.2,1);
    -moz-transition: transform .9s cubic-bezier(.4,0,.2,1);
    -ms-transition: transform .9s cubic-bezier(.4,0,.2,1);
    transition: transform .9s cubic-bezier(.4,0,.2,1);
  }

  .slendr-slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slendr-nav {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    width: 100%;

    a {
      position: absolute;
      transition: opacity .3s ease-out;
      opacity: .7;
      color: #fff;
      font-size: 4em;

      &.active,
      &:hover {
        opacity: 1;
      }
    }

    .slendr-prev {
      left: 5%;
    }

    .slendr-next {
      right: 5%;
    }
  }
}
